h1 {
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: black;
}

body {
    background-color: #b185c1;
}

#search {
    color: chartreuse;
}

button {
    background-color: #7B2869;
    font-size: 50px;

}

#signup {
    background-color: chocolate;
}

.tag {
    color: red;
    background-color: yellow;
}

.ha {
    color: black;
}


.my1 {
    color: rgb(5, 14, 54);
    font-size: 20px;
}

.my2 {
    color: rgb(121, 3, 80);
    font-size: 20px;
}

#list {
    color: white;
    background-color: red;
}

span a {
    color: rgb(234, 9, 9);
    background-color: aqua;
    font-weight: 900;

}

h2+button {
    background-color: darkgreen;
    color: rgb(1, 1, 45);
}

footer > a {
    color: #060005;
    background-color: darkgreen;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
}


input[type="text"] {
    width: 300px;
    height: 50px;
    color: rgb(3, 3, 0);
    border: rgb(249, 32, 3);
}

input[type="password"]{
    width: 300px;
    height: 50px;
    color: rgb(13, 13, 2);
    border: red;
}

input + button {
    background-color: darkblue;
}

button:hover{
    background-color: yellow;
}

input:hover{
    background-color: darkred;
}

button:active{
    background-color: rgb(219, 11, 212);
}

h2::first-letter{
    color: rgb(245, 3, 132);
    font-size: 30px;
}

p::first-line{
    color: blue;
    background-color: rgb(172, 97, 7);
}

p::selection{
    background-color: yellow;
}